<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Document</title>
</head>

<body>
  <!-- 引入公共页头 -->
  <%= require("html-loader!../common/header/index.html") %>
    <section class="banner-container">
      <div class="center">
        <div class="text">
          <h1 class="title wow fadeInUp">慢性疾病管理中心</h1>
          <h2 class="entitle wow fadeInUp" data-wow-delay="100ms">Chronic disease management center</h2>
        </div>
      </div>
      <img src="/public/images/article/banner.jpg" alt="">
    </section>
    <section class="main">
      <div class="main-cont center">
        <div class="left-layout">
          <div class="head">
            <div class="title-module wow fadeInLeft">
              <div class="title">
                <div class="cn-title">临床病理<br>报告</div>
                <div class="en-title">CASE PEROPT</div>
              </div>
              <div class="number">
                N°-17
              </div>
            </div>
            <div class="infos wow fadeInRight">
              <div class="info">
                <div class="name">
                  濑田医院 院长
                  <div class="subname">
                    后藤 重则 Shigenori Goto
                  </div>
                </div>
                <div class="desc">
                  濑田诊疗集团成立于1999年，是日本国内第一家癌症免疫细胞治疗的专科医疗机构。
                  集团成立十八年来，与日本国内各大学的附属医院及诸多的诊疗院进行合作
                  积极开展癌症免疫细胞治疗。<br>
                  与全国各地的免疫细胞治疗诊所联手合作，使治疗范围几乎可以覆盖日本全国。
                </div>
              </div>
              <div class="photo">
                <img src="/public/images/article/doctor.jpg" alt="">
              </div>
            </div>
          </div>
          <div class="main-content wow fadeInUp">
            <div class="head">
              <h1 class="title">三种主要癌症疗法与免疫细胞疗法</h1>
              <div class="date">2021-12-22</div>
            </div>
            <div class="body">
              <h2 class="title">Overview of Immuno-cell Therapy</h2>
              <div class="note">
                <p>
                  免疫细胞疗法被称为癌症治疗中副作用最小的全身治疗。该疗法的基本概念是增强人体的免疫功能，以消除体内任何异常细胞，如病毒感染或恶性细胞。换句话说，患者的免疫细胞被激活并在体外扩张并注入患者体内，以使免疫细胞对抗疾病。
                </p>
                <p>
                  免疫细胞疗法被归类为细胞医学以及以培养的皮肤和软骨、干细胞移植为代表的再生医学，是一种基于免疫学和分子生物学的先进疗法。免疫细胞疗法已被厚生劳动省批准作为先进的医疗技术应用于一些大学医院的临床实践中，限制了疾病的类型。
                </p>
                <p>
                  从进行免疫细胞疗法的一般角度来看，该疗法可用于针对晚期癌症的单独治疗以及与标准疗法（例如手术、放疗和化学疗法）的联合疗法。还预期免疫细胞疗法可有效作为手术后预防复发的辅助疗法。
                </p>
              </div>
              <h2 class="title">Overview of Immuno-cell Therapy</h2>
              <div class="note">
                <p>
                  免疫细胞疗法被称为癌症治疗中副作用最小的全身治疗。该疗法的基本概念是增强人体的免疫功能，以消除体内任何异常细胞，如病毒感染或恶性细胞。换句话说，患者的免疫细胞被激活并在体外扩张并注入患者体内，以使免疫细胞对抗疾病。
                </p>
                <p>
                  免疫细胞疗法被归类为细胞医学以及以培养的皮肤和软骨、干细胞移植为代表的再生医学，是一种基于免疫学和分子生物学的先进疗法。免疫细胞疗法已被厚生劳动省批准作为先进的医疗技术应用于一些大学医院的临床实践中，限制了疾病的类型。
                </p>
                <p>
                  从进行免疫细胞疗法的一般角度来看，该疗法可用于针对晚期癌症的单独治疗以及与标准疗法（例如手术、放疗和化学疗法）的联合疗法。还预期免疫细胞疗法可有效作为手术后预防复发的辅助疗法。
                </p>
              </div>
              <h2 class="title">Overview of Immuno-cell Therapy</h2>
              <div class="note">
                <p>
                  免疫细胞疗法被称为癌症治疗中副作用最小的全身治疗。该疗法的基本概念是增强人体的免疫功能，以消除体内任何异常细胞，如病毒感染或恶性细胞。换句话说，患者的免疫细胞被激活并在体外扩张并注入患者体内，以使免疫细胞对抗疾病。
                </p>
                <p>
                  免疫细胞疗法被归类为细胞医学以及以培养的皮肤和软骨、干细胞移植为代表的再生医学，是一种基于免疫学和分子生物学的先进疗法。免疫细胞疗法已被厚生劳动省批准作为先进的医疗技术应用于一些大学医院的临床实践中，限制了疾病的类型。
                </p>
                <p>
                  从进行免疫细胞疗法的一般角度来看，该疗法可用于针对晚期癌症的单独治疗以及与标准疗法（例如手术、放疗和化学疗法）的联合疗法。还预期免疫细胞疗法可有效作为手术后预防复发的辅助疗法。
                </p>
              </div>
            </div>
            <div class="prev_next">
              <a href="" class="prev">上一篇：暂无数据</a>
              <a href="" class="next">下一篇：暂无数据</a>
            </div>
          </div>
        </div>
        <aside class="right-layout">
          <div class="aside-module recent-article wow fadeInUp">
            <div class="aside-title">
              <span>近期文章</span>
              <a href="">
                <i class="iconfont icon-youjiantou"></i>
              </a>
            </div>
            <ul class="article-list">
              <li class="article-item">
                <a href="">三种主要癌症疗法与免疫细胞疗法</a>
              </li>
              <li class="article-item">
                <a href="">饮茶或咖啡或可以降低中风和痴呆的风险</a>
              </li>
              <li class="article-item">
                <a href="">关于免疫疗法的几种类型</a>
              </li>
              <li class="article-item">
                <a href="">接受诊断流程</a>
              </li>
              <li class="article-item">
                <a href="">关于治疗</a>
              </li>
              <li class="article-item">
                <a href="">三种主要癌症疗法与免疫细胞疗法</a>
              </li>
              <li class="article-item">
                <a href="">饮茶或咖啡或可以降低中风和痴呆的风险</a>
              </li>
              <li class="article-item">
                <a href="">关于免疫疗法的几种类型</a>
              </li>
              <li class="article-item">
                <a href="">接受诊断流程</a>
              </li>
              <li class="article-item">
                <a href="">关于治疗</a>
              </li>
            </ul>
          </div>
          <div class="aside-module category wow fadeInUp">
            <div class="aside-title">
              <span>分类</span>
            </div>
            <ul class="cate-list">
              <li class="cate-item">
                <a href="">
                  <span>关于免疫疗法</span>
                  <i class="iconfont icon-youjiantou"></i>
                </a>
              </li>
              <li class="cate-item">
                <a href="">
                  <span>关于濑田诊所</span>
                  <i class="iconfont icon-youjiantou"></i>
                </a>
              </li>
              <li class="cate-item">
                <a href="">
                  <span>其他</span>
                  <i class="iconfont icon-youjiantou"></i>
                </a>
              </li>
            </ul>
          </div>
          <div class="aside-module contact-box wow fadeInUp">
            <div class="aside-title">
              <span>咨询电话</span>
            </div>
            <div class="contacts">
              <div class="contact">
                MOB:<a href="">+81-80-9697-5888</a>
              </div>
              <div class="contact">
                FAX:<a href="">+81-03-6240-1383</a>
              </div>
              <div class="contact">
                TEL:<a href="">+81-035826-4342</a>
              </div>
              <div class="contact">
                E-Mail:<a href="">info@yriyaku.xyz</a>
              </div>
            </div>
            <a href="contact.html" class="contact-btn">
              <img src="/public/images/article/contact-icon.png" alt="">
              <span>联系我们</span>
            </a>
          </div>
        </aside>
      </div>
    </section>
    <!-- 引入公共页尾 -->
    <%= require("html-loader!../common/footer/index.html") %>
</body>

</html>