<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Document</title>
</head>

<body>
  <!-- 引入公共页头 -->
  <%= require("html-loader!../common/header/index.html") %>
    <section class="banner-container">
      <div class="center">
        <div class="text">
          <h1 class="title wow fadeInUp">私人医生</h1>
          <h2 class="entitle wow fadeInUp" data-wow-delay="100ms">prvivate doctor</h2>
        </div>
      </div>
      <img src="/public/images/doctor/banner.jpg" alt="">
    </section>
    <section class="main">
      <div class="info center">
        <div class="photo wow fadeInLeft">
          <img src="/public/images/doctor/doctor.jpg" alt="">
        </div>
        <div class="text wow fadeInRight">
          <h1 class="title">
            <span class="cn-title">后藤 重则</span>
            <span class="en-title">Shigenori Goto</span>
          </h1>
          <div class="desc">
            医生简介医生简介医生简介医生简介医生简介医生简介医生简介医生简介医生简介医生简介医生简介医生简介医生简介医生简介医生简介医生简介医生简介医生简介医生简介医生简介医生简介医生简介医生简介医生简介医生简介医生简介医生简介医生简介医生简介医生简介医生简介医生简介医生简介医生简介医生简介医生简介医生简介医生简介医生简介医生简介医生简介医生简介医生简介医生简介医生简介医生简介医生简介医生简介医生简介医生
          </div>
          <a href="" class="reservation">
            <span>快速预约</span>
            <i class="iconfont icon-youjiantou"></i>
          </a>
        </div>
      </div>
      <ul class="params-list center">
        <li class="params-item wow fadeInUp">
          <div class="title-module">
            <span>现任职务</span>
          </div>
          <div class="cont">
            濑田诊所医院 院长
          </div>
        </li>
        <li class="params-item wow fadeInUp" data-wow-delay="100ms">
          <div class="title-module">
            <span>临床专长</span>
          </div>
          <div class="cont">
            下消化道肿瘤，大肠癌，结肠癌，直肠癌
          </div>
        </li>
        <li class="params-item wow fadeInUp" data-wow-delay="200ms">
          <div class="title-module">
            <span>工作经历</span>
          </div>
          <div class="cont">
            2010年4月～ 2019年6月癌研有明医院下部消化管部长(大肠外科部长)
          </div>
        </li>
        <li class="params-item wow fadeInUp" data-wow-delay="300ms">
          <div class="title-module">
            <span>背景</span>
          </div>
          <div class="cont">
            日本外科学会专科医师、指导医师<br>
            日本消化器官外科学会专科医师、指导医师<br>
            日本大肠肛门病学会专科医师、指导医师<br>
            日本消化器官内窥镜学会专科医师、指导医师<br>
            大肠癌手术(2010 ～ 2019年1500例以上)<br>
            大肠癌内科治疗+手术(2010 ～2019年200例以上
          </div>
        </li>
      </ul>
      <div class="other related center wow fadeInUp">
        <div class="title-module">
          <span>相关疾病</span>
          <a href="" class="more">
            <i class="iconfont icon-youjiantou"></i>
          </a>
        </div>
        <ul class="list">
          <li class="item">
            <a href="">结直肠癌</a>
          </li>
          <li class="item">
            <a href="">结直肠癌</a>
          </li>
          <li class="item">
            <a href="">结直肠癌</a>
          </li>
        </ul>
      </div>
      <div class="other academic center wow fadeInUp">
        <div class="title-module">
          <span>学术发表</span>
          <a href="" class="more">
            <i class="iconfont icon-youjiantou"></i>
          </a>
        </div>
        <ul class="list">
          <li class="item">
            <a href="">癌症的标准治疗 结肠癌和直肠癌</a>
          </li>
          <li class="item">
            <a href="">癌症的标准治疗 结肠癌和直肠癌</a>
          </li>
          <li class="item">
            <a href="">癌症的标准治疗 结肠癌和直肠癌</a>
          </li>
          <li class="item">
            <a href="">癌症的标准治疗 结肠癌和直肠癌</a>
          </li>
        </ul>
      </div>
      <div class="case center wow fadeInUp">
        <div class="title-module">
          <span>服务案例</span>
          <a href="" class="more">
            <i class="iconfont icon-youjiantou"></i>
          </a>
        </div>
        <ul class="case-list">
          <li class="case-item">
            <a href="">
              <div class="img">
                <img src="/public/images/doctor/case.jpg" alt="骤降40斤，坐轮椅进医院的肠癌患者，如 何重获新生？">
              </div>
              <div class="title">骤降40斤，坐轮椅进医院的肠癌患者，如 何重获新生？</div>
            </a>
          </li>
          <li class="case-item">
            <a href="">
              <div class="img">
                <img src="/public/images/doctor/case.jpg" alt="骤降40斤，坐轮椅进医院的肠癌患者，如 何重获新生？">
              </div>
              <div class="title">骤降40斤，坐轮椅进医院的肠癌患者，如 何重获新生？</div>
            </a>
          </li>
          <li class="case-item">
            <a href="">
              <div class="img">
                <img src="/public/images/doctor/case.jpg" alt="骤降40斤，坐轮椅进医院的肠癌患者，如 何重获新生？">
              </div>
              <div class="title">骤降40斤，坐轮椅进医院的肠癌患者，如 何重获新生？</div>
            </a>
          </li>
          <li class="case-item">
            <a href="">
              <div class="img">
                <img src="/public/images/doctor/case.jpg" alt="骤降40斤，坐轮椅进医院的肠癌患者，如 何重获新生？">
              </div>
              <div class="title">骤降40斤，坐轮椅进医院的肠癌患者，如 何重获新生？</div>
            </a>
          </li>
        </ul>
      </div>
    </section>
    <!-- 引入公共页尾 -->
    <%= require("html-loader!../common/footer/index.html") %>
</body>

</html>